[Unit]
Description=RZ/VN CoBot Application - hand Gesture Node
After=multi-user.target local-fs.target

[Service]
ExecStart=/home/start_gesture_node.sh
Type=simple
User=root
Restart=no

[Install]
WantedBy=multi-user.target
