[Unit]
Description=RZ/VN RoboArm Application
After=multi-user.target local-fs.target weston@root.service

[Service]
ExecStart=/home/demo/start_demo.sh
Type=simple
User=root
Restart=no

[Install]
WantedBy=multi-user.target weston@root.service
